.ant-input {
  font-size: 14px;
  line-height: 20px;  
}
.ant-input-lg {
  padding: 14px 12px;
}
.ant-input-group {
  .ant-input-lg,
  .ant-btn-lg,
  .ant-input-number-lg {
    height: 48px;
  }
  .ant-input-number-input {
    width: 50px;
    padding-right: 8px;
  }
}
.ant-input-group .ant-select-selection-selected-value,
.ant-input-group-addon {
  color: @black-secondary-text;
}
textarea.ant-input {
  padding: 8px 12px;
}
